body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}
h1 {
  font-size: 6.52rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  color: #554994;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #554994;
  font-weight: normal;
}
h3 {
  color: #3AB4F2;
  font-family: 'Montserrat', sans-serif;
}
a {
  color: #3AB4F2;
}
p {
  line-height: 2;
}
hr {
  border: dotted;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.top-container {
  padding-top: 100px;
  background: #A084CA;
  }

.top-cloud {
  position: relative;
  left: 300px;
}


.bottom-cloud {
  position: absolute;
  left: 175px;
}
.contact-me {
  width: 40%;
  margin: auto;
  padding-bottom: 100px;
}

.halfround {
  width: 35%;
  height: 35%;
}
.intro {
  width: 51%;
  margin: auto;
}
.profile {
  line-height: 2;
  padding-bottom: 50px;
}
.profile img{
  padding-top: 50px;
  width: 10%;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  padding-bottom: 100px;

}
.programming {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.data-analysis {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #6c56c4;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #4503a8;
  text-decoration: none;
}
.bottom-container {
  background-color: #A084CA;
  padding-top: 50px;
}
.footer-link {
  color : #FFEA11;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin-right: 20px;
}
.footer-link:hover {
  color: #3AB4F2;
}
.copyright {
  color: #6c56c4;
  font-size: 0.75rem;
  padding: 20px 0;
}
